// boxojoe standards //
// this should be replaced with your own apps styles //

// colors

OFF_WHITE = #FDFDFD
COFFEE_BROWN = #603920
MUTE_ORANGE = #C86D5B

// greater movements
.cf:before,
.cf:after
  content " "
  display table

.cf
  *zoom 1
  &:after
    clear both

.justify-align
  text-align justify

.pull-right
  float right

.pull-left
  float left

// global
html, body
  margin 0
  padding 0
  background OFF_WHITE
  font-family 'Lato', Helvetica, sans-serif

ul, ol
  list-style none

table
  text-align left
  padding 30px
  th, td
  padding 0 30px 0 30px


// typography

h1, h2, h3, h4, h5, h6, p, a
  color #333

h1
  letter-spacing -2px
  font-weight 300
  font-size 80px
  margin 0px 0px 0px 0px

h1.coffee
  color COFFEE_BROWN

h2, label
  margin 10px 0 40px 0
  font-weight 200
  text-transform uppercase

a, input[type=submit]
  font-weight 400
  letter-spacing 0px
  text-decoration underline
  -webkit-transition color 0.2s linear
  -moz-transition color 0.2s linear
  -ms-transition color 0.2s linear
  -o-transition color 0.2s linear
  transition color 0.2s linear
  &:hover
    color: darken(MUTE_ORANGE, 10%)
